form label {
  color: var(--subtitle);
  font-size: 1.1rem;
}
form {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
}
form .inputBox {
  position: relative;
  width: 100%;
}
form .inputBox input {
  position: absolute;
  width: 100%;
  padding: 0.5rem 1rem;
  padding-left: 9rem;
  font-size: 1.1rem;
  outline: none;
  background-color: var(--bgHeader);
  border: none;
  border: 1px solid var(--border);
  border-radius: 0.4rem;
  color: var(--subtitle);
  transition: 0.2s linear;
}
form .inputBox label {
  position: absolute;
  top: 0.45rem;
  left: 1rem;
  transition: 0.3s;
}
form .inputBox input:focus {
  border: 1px solid var(--liteGreen);
}
form .inputBox input:hover {
  border: 1px solid var(--liteGreen);
}
form .inputBox input:focus ~ label {
  transform: translateY(-1.75rem);
  border-right: 1px solid var(--liteGreen);
  border-left: 1px solid var(--liteGreen);
  font-size: 0.9rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  background-color: var(--secondary);
  padding: 0.14rem 0.3rem;
}
form .inputBo {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
form .inputBo textarea {
  width: 64%;
  height: 8rem;
  background-color: var(--bgHeader);
  border: 1px solid var(--border);
  border-radius: 0.4rem;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: var(--subtitle);
  transition: 0.2s linear;
  box-sizing: border-box;
}
form .inputBo textarea:focus {
  border: 1px solid var(--liteGreen);
}
form .inputBo textarea:hover {
  border: 1px solid var(--liteGreen);
}
form button {
  text-align: center;
  border: 1px solid var(--border);
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  border-radius: 0.4rem;
  background-color: rgba(36, 37, 46, 1);
  transition: 0.2s linear;
}
form button:hover {
  border: 1px solid var(--liteGreen);
  background-color: var(--bgHeader);
  scale: 1.01;
}
@media (max-width: 703px) {
  form .inputBox input {
    padding: 0.5rem 1rem;
    padding-left: 8rem;
    font-size: 0.99rem;
    width: 100%;
  }
  form label {
    font-size: 0.98rem;
  }
  form .inputBo {
    /* display: flex; */
    flex-direction: column;
    align-items: start;
  }
  form .inputBo textarea {
    margin: -0.5rem 0rem;
    width: 100%;
   
  }
  form button{
    position:relative ;
  left: 50%;
  transform: translateX(-50%);
  width: 82%;
  }

  
}
